<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Message列表">
        <meta name="keywords" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
        <script src="assets/js/echarts.min.js" th:src="@{assets/js/echarts.min.js}"></script>
        <link rel="stylesheet" href="assets/css/amazeui.min.css" th:src="@{assets/css/amazeui.min.css}"/>
        <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css"
              th:src="@{assets/css/amazeui.datatables.min.css}"/>
        <link rel="stylesheet" href="assets/css/app.css" th:src="@{assets/css/app.css}">
        <script src="assets/js/jquery.min.js" th:src="@{assets/js/jquery.min.js}"></script>
        <script src="assets/js/theme.js"></script>
        <script src="/asserts/js/do.js"></script>
        <!-- 弹窗美化 -->
        <link rel="stylesheet" type="text/css" href="/sweetalert/sweetalert.css">
        <script type="text/javascript" src="/sweetalert/sweetalert-dev.js"></script>
    </head>
    <body>
    <div sec:authorize="hasRole('admin')">
    <div id="content">
        <!--风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>

        <!-- 内容区域 -->
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">留言管理</div>
                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="am-u-sm-12 am-u-md-6 am-u-lg-3">-->
                            <!--<div class="am-form-group tpl-table-list-select">-->
                            <!--<select data-am-selected="{btnSize: 'sm'}">-->
                            <!--<option value="option1">所有类别</option>-->
                            <!--<option value="option2">用户名查询</option>-->
                            <!--<option value="option3">用户权限查询</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--查询 start-->
                            <!--<div class="am-u-sm-12 am-u-md-12 am-u-lg-3" style="float: right">-->
                            <!--<div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">-->
                            <!--<input type="text" id="searchName" class="am-form-field " placeholder="根据图片名称查询">-->
                            <!--<span class="am-input-group-btn">-->
                            <!--<button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"-->
                            <!--type="button" onclick="getBannerByName()">-->
                            <!--</button>-->
                            <!--</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--查询 end-->

                            <div class="am-u-sm-12" id="msgContent">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th style="align:center;text-align: center;width: 10%">留言id</th>
                                        <th style="align:center;text-align: center;width: 15%">留言者</th>
                                        <th style="align:center;text-align: center">留言内容</th>
                                        <th style="align:center;text-align: center">留言者邮箱</th>
                                        <th style="align:center;text-align: center">留言时间</th>
                                        <th style="align:center;text-align: center">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:if="${messageList.size()} eq 0">
                                        <td colspan="6" align="center">
                                            当前留言列表为空
                                        </td>
                                    </tr>
                                    <tr class="even gradeC" th:each="message : ${messageList}"
                                        style="align:center;text-align: center">
                                        <td th:text="${message.id}">1</td>
                                        <td th:text="${message.contactUsername}">留言者</a></td>
                                        <!--<td th:text="${banner.name}">图片名称</td>-->
                                        <!--<td th:text="${user.passWord}">pwf</td>-->
                                        <td th:text="${message.message}" style="max-width: 400px">留言信息</td>
                                        <td th:text="${message.email}">留言者邮箱</td>
                                        <td th:text="${#dates.format(message.sendTime, 'yyyy-MM-dd HH:mm')}">留言时间</td>
                                        <td>
                                            <div class="tpl-table-black-operation"
                                                 style="align:center;text-align: center">
                                                <!--<a href="javascript:;" class="tpl-table-black-operation-del"></a>-->
                                                <button type="button" class="am-btn am-btn-danger am-btn-xs del-message"
                                                        th:id="${message.id}">
                                                    <i class="am-icon-trash"></i> 删除
                                                </button>
                                                <!--<i class="am-icon-trash"></i> 删除-->
                                                <!--</a>-->
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- 分页 -->
                            <div class="am-cf" th:if="${totalPage}">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li><a th:onclick="'loadPage(\'/message/list?page=0\')'">«</a></li>
                                        <li th:each="i : ${#numbers.sequence(1,totalPage,1)}"
                                            th:id="'page'+${i}">
                                            <a th:text="${i}"
                                               th:onclick="'loadPage(\'/message/list?page='+${i-1}+'\')'">1</a>
                                        </li>
                                        <li>
                                            <a th:onclick="'loadPage(\'/message/list?page='+${totalPage-1}+'\')'">»</a>
                                        </li>
                                    </ul>
                                    <script th:inline="javascript" type="text/javascript">
                                        var id = [[${currentPage+1}]];
                                        $("#page" + id).attr("class", "am-active");
                                    </script>
                                </div>
                            </div>
                            <!-- /分页 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>

</html>